body{
    font-family: 'Raleway',sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none !important;
}
h1{
    color: #ff6363;
}
p{
    font-size: 20px;
    color: #484848;
    /* color: red; */
}
.section{
    text-align: center;
}
.skillbar{
    cursor: pointer;
}
.hide{
    display: none;
}
.display{
    display: block;
}
.nav-screen{
    position: fixed;
    background: rgba(0,0,0,0.5);
    right: -285px;
    width: 285px;
    height: 100%;
    z-index: 500;
}
.nav-screen .active{
    display: block;
}
.nav-brand{
    position: fixed;
    left: 0;
    padding: 10px;
    z-index: 600;
}
.nav-brand img{
    width: 50px;
}
.fa-bars{
    position: fixed;
    color: #ff6363;
    padding: 20px;
    float: right;
    right: 0;
    z-index: 500;
    display: none;
}
.fa-times{
    position: absolute;
    color: #ff6363;
    cursor: pointer;
    z-index: 600;
}
.header-links{
    position: fixed;
    width: 100%;
    z-index: 500;
}
.header-links li{
    display: inline;
    color: white;
    padding: 15px;
    font-size: 16px;
    float: right;
}
.header-links li a{
    color: #757575;
    transition: all 0.2s ease-in;
}
.header-links li a:hover{
    color: #ff6363 !important;
}
.nav-container{
    padding-top: 10%;
}
.nav-links{
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.nav-links ul{
    text-align: center;
    margin-top: 15%;
    padding-top: 10%;
}
.nav-links a{
    color: #fff;
    font-size: 30px;
    line-height: 2.5;
    font-weight: bold;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}
.nav-links a:hover{
    color: #ff6363;
    transition: all .6s ease-in-out;
}
.header-links a:after{
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 0px;
    height: 2px;
    background: #ff6363;
    opacity: 0;
    transition: width 0.6s , opacity 0.8s;
}
.header-links a:hover:after,
.header-links a:focus:after{
    opacity: 1;
    width: 100%;
}
.opaque-bg{
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
    padding: 1px 1px 5px 5px;
}
.fa-chevron-down{
    position: absolute;
    color: #ff6363;
    bottom: 10px;
    cursor: pointer;
    opacity: 0;
    transition: all 1.2s ease;
}
.aboutme{
    background: url(https://s3-us-west-2.amazonaws.com/files.bradengelhardt.com/brad-bg-main.jpg);
    background-size: cover;
}
.aboutme p{
    color: #fff;
    font-weight: 100;
    font-size: 17px;
}
.container-skillbar{
    width: 100%;
    padding-top: 30px;
    padding-left: 2%;
    padding-right: 2%;
    height: auto;
    overflow: hidden;
}
.skillbar{
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    background: #efefef;
    border-radius: 3px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}
.skillbar-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background: #6adcfa;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.skillbar-title span{
    display: block;
    background: rgba(0,0,0,0.15);
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.skillbar-bar{
    height: 30px;
    border-radius: 3px;
    width: 0%;
}
.skill-bar-percent{
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    line-height: 30px;
    color: rgba(0,0,0,0.5);
}

.content{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.content-slide{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
.content-slide img{
    width: 70%;
}
.fp-controlArrow.fp-next{
    border-color: transparent transparent transparent #ff6363 !important;
    right: 45px !important;
}
.fp-controlArrow.fp-prev{
    border-color: transparent #ff6363 transparent transparent !important;
    left: 45px !important;
}
#fp-nav ul li a span,
.fp-slideNav ul li a span{
    background: rgba(0,0,0,0.62);
}
.fp-paper-plane{
    color: #484848;
}
.plane-animated{
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}
.fp-paper-plane:hover{
    animation-play-state: running;
}
.contact-form{
    padding: 0 15px 0px 15px;
}
.form-control{
    width: 100%;
    min-width: 100%;
    height: 3em;
    font-size: 16px;
    padding: 1em;
    margin: 0.5em 0.2em 0;
    font-weight: bold;
    border: 2px solid rgba(0,0,0,0.27);
}
textarea{
    min-height: 10em;
}
#submit{
    outline: none;
    padding: 12px;
    min-width: 200px;
    border-radius: 2px;
    border:2px solid #ff6363;
    text-align: center;
    font-size: 1em;
    color: #ff6363;
    background: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
#submit:hover{
    background: #ff6363;
    color: #fff;
    transition: all 0.3s ease-out;
}
.footer{
    height: 100px;
    background-color: #484848;
    padding-top: 10px;
}
.footer p {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.social-links a{
    color: #fff;
    padding: 0 5px 0 5px;
}
.social-links a:hover{
    color: #ff6363;
    transition: all 0.2s ease-in-out;
}
.blinking-cursor{
    font-weight: 500;
    margin-left: 4px;
    font-size: 20px;
    color: #fff;
    animation: blink 1s infinite;
}
@keyframes blink{
    0%, 100%{
        color: transparent;
    }
    50%{
        color: #fff;
    }
}
@media screen and (max-width:768px){
    .fa-bars{
        display: block;
    }
    .header-links{
        display: none;
    }
    .content{
        max-width: 600px;
    }
    .aboutme h1{
        font-size: 28px;
    }
}
























